/*{
.black-and-black-btn:
{color: #b81a1a !important; ;background-color:#5bbdbb !important; border: 1px solid transparent;}

}*/
/*.black-and-black-btn {
    /*color: #e72c2c !important; ;background-color:#ffff !important; border: 1px solid transparent;
   /* font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 7px 35px;
    color: #ffffff;
    font-weight: 500;
    background-color: #202020;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-transition: .8s ease !important;
    -o-transition: .8s ease !important;
    transition: .8s ease !important;
    cursor: pointer;*/
}